/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Montserrat:wght@400;500&display=swap');*/

@font-face {
	font-family: "matrix-font";
	src: url("../font/matrix-font.woff2") format('woff2');
}

@font-face {
	font-family: "Montserrat";
	src: url("../font/montserrat-400.woff2") format('woff2');
}

@font-face {
	font-family: "Montserrat";
	src: url("../font/montserrat-500.woff2") format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("../font/roboto-mono-400.woff2") format('woff2');
}

:root {
	--global-hue: 222;
	--menu-bg-accent: hsl(var(--global-hue) 20% 28%);
	--menu-bg-accent2: hsl(var(--global-hue) 20% 24%);
	--btn-bg-accent: hsl(var(--global-hue) 20% 22%);
	--btn-hover-accent: hsl(var(--global-hue) 13% 33%);
	--btn-active-accent: hsl(var(--global-hue) 13% 39%);
	--body-bg-accent: hsl(var(--global-hue) 22% 16%);
	--placeholder-color: hsl(var(--global-hue) 20% 35%);
	--hist-header-gradient: hsl(var(--global-hue) 13% 10%);
	--table-row-odd: hsl(var(--global-hue) 14% 14%);
	--table-row-even: hsl(var(--global-hue) 12% 16%);
	--input-bg-accent: hsl(var(--global-hue) 13% 13%);
	--font-white-1: rgb(234,234,234);
	--font-white-2: rgb(209,209,209);
	--border-accent: rgb(105,105,105);
	--border-dark-accent: rgb(58,58,58);
	--focus-outline: rgb(192,192,192);
}

html, body { /* full <body> height for <!DOCTYPE html> */
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body { /* disable Chromium's Text Autosizer (mobile text inflation algorithm) */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

/*               Text Selection               */
/* ########################################## */

::selection {
	color: rgb(23,23,23);
	background: rgb(255,255,255);
}

::-moz-selection {
	color: rgb(23,23,23);
	background: rgb(158,158,158);
}

::placeholder { /* input placeholder */
	color: var(--placeholder-color);
	opacity: 1;
}

/*               Scrollbar Style              */
/* ########################################## */

#loader{ /* fade in on page load*/
	z-index: 101;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--body-bg-accent);
}

body {
	overflow: overlay;
}

::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-thumb {
	background: rgba(128, 128, 128, 0.5);
	/*border-radius: 20px;*/
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner
{
	background: rgba(0, 0, 0, 0.2);
}

/* ########################################## */

body {
	font-family: "Montserrat", "Arial", sans-serif;
	color: var(--font-white-2);
	background: var(--body-bg-accent);
}

#colorControlsMenuArea {
	/* width: 70%; */
	/*font-size: 85%;*/
	background-color: var(--menu-bg-accent);
	width: -webkit-fit-content;
	width: -moz-fit-content;
}
#enabledCiphTable {
	width: 100%;
	padding: 1em 0em 0em 0em;
	display: flex;
	justify-content: center;
}
#inputArea {
	padding: 0.5em 0em 0em 0em;
	display: inline-flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#HistoryTableArea {
}
#calcOptionsPanel {
	padding: 0.6em 0em 0em 0em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ciphToggleContainer {
	display: inline-block;
	padding: 0.5em 0.5em 0.2em 0.5em;
	border-spacing: 0em;
	text-align: left;
}
.colSlider {
	width: 55px;
	font-size: 80%;
	color: var(--font-white-1);
	border: 2px solid var(--border-accent);
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace;
	line-height: 1.1em;
	background-color: var(--btn-bg-accent);
}
.cipherColValueBox {
	width: 85px;
	font-size: 80%;
	color: var(--font-white-1);
	border: 2px solid var(--border-accent);
	font-family: "Roboto Mono", monospace;
	line-height: 1.1em;
	background-color: var(--btn-bg-accent);
}
.globColCtrlTable {
	padding-right: 1.25em;
}
.phraseGemContainer {
	display: inline-block;
	border: 1px solid var(--border-dark-accent);
	border-spacing: 0px;
	text-align: center;
	font-weight: 500;
	line-height: 1.0em;
}
.phraseGemContainer tr:nth-child(odd) {
	background-color: var(--table-row-odd);
}
.phraseGemContainer tr:nth-child(even) {
	background-color: var(--table-row-even);
}
.phraseGemValueOdd, .phraseGemValueEven {
	font-size: 175%;
	text-align: center;
	min-width: 93px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.phraseGemCiphName {
	padding: 0.2em 0.5em;
	max-width: 110px;
	height: 32px;
}
#canv {
	margin: 0;
	padding: 0;
	position: fixed;
	touch-action: none;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index : -1; /* behind all elements */
}
.ciphCheckbox {
}
.ciphCheckboxLabel {
	font-size: 85%;
	font-weight: 500;
	padding: 0em 0.6em 0em 0em;
	white-space: nowrap;
}
.ciphCheckboxLabel2 {
	font-size: 100%;
	font-weight: 500;
	padding: 0em 0em 0em 0.1em;
	white-space: nowrap;
}
.cipherHoverLabel {
	text-decoration: none;
	color: inherit;
}
.dragOver {
	border: 1px solid rgb(97,237,255,1) !important;
	background-color: rgb(97,237,255,0.2) !important;
}

/*  Word Breakdown, Cipher Table, Word Count  */
/* ########################################## */

#ChartSpot {
	/*min-height: 189px;*/ /* fix content shift */
	display: flex; /* vertically center */
	justify-content: center;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	padding: 0.4em;
	border: 1px solid var(--border-dark-accent);
    margin-top: 1em;
	margin-bottom: 0.5em;
}
#BreakdownSpot {
	padding-bottom: 0.5em;
}
#BreakdownDetails {
	padding: 1em 1.5em 1em 1.5em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
}
#SimpleBreak {
	max-width: 800px;
	margin: auto;
	padding-bottom: 0.5em;
	text-align: center;
}
#BreakTableContainer {
	padding: 0.2em;
	border: 1px solid var(--border-dark-accent);
	width: -webkit-fit-content;
	width: -moz-fit-content;
}
.BreakChar {
	font-size: 114%;
	font-weight: 500;
	padding-right: 2px;
	padding-left: 2px;
}
.breakCipher {
	display: inline;
	font-size: 110%;
}
.breakSum {
	display: inline;
	font-size: 150%;
	color: var(--font-white-1);
	font-weight: 500;
}
.breakPhrase {
	display: inline;
	font-size: 130%;
	color: var(--font-white-1);
}
.BreakPhraseSum {
	font-weight: 500;
	font-size: 175%;
	padding-left: 10px;
	padding-right: 10px;
}
.BreakTable {
	text-align: center;
	border-spacing: 0px;
	margin: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
}
.BreakTable td {
	min-width: 20px;
}
.BreakVal {
	color: var(--font-white-2);
	font-size: 95%;
	padding-right: 3px;
	padding-left: 3px;
}
.BreakWordSum {
	font-size: 115%;
	padding-right: 5px;
	padding-left: 5px;
}
#ChartTable {
	border-spacing: 0px;
}
#ChartTable td {
	text-align: center;
	border: none;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 3px;
	min-width: 22px;
}

/* ----- Bordered style for Cipher Table ---- */
.borderCipherTable {
	border-right: 1px solid var(--border-accent) !important;
	border-top: 1px solid var(--border-accent) !important;
}
.borderCipherTable td {
	border-left: 1px solid var(--border-accent) !important;
	border-bottom: 1px solid var(--border-accent) !important;
	padding-right: 5px !important;
	padding-left: 5px !important;
	padding-top: 1px !important;
	padding-bottom: 2px !important;
}
.borderClassGemCard {
	border: 1px solid var(--border-accent) !important;
}

.ChartChar {
	font-size: 140%;
}
.ChartVal {
	font-size: 120%;
}
.CipherEnd {
	font-size: 90%;
	padding-top: 2px;
	padding-bottom: 2px;
}
.LetterCounts {
	color: var(--font-white-1);
	font-size: 90%;
	text-align: center;
	padding-bottom: 0.5em;
}

/*        Buttons, Text Boxes, Controls       */
/* ########################################## */

#btn-clear-active-filter {
	position: relative;
	color: var(--font-white-1);
	font-weight: 500;
	margin-left: 0.25em;
	font-family: "Montserrat", "Arial", sans-serif;
	padding: 0.2em 0.55em 0.2em 0.55em;
	border: 1px solid var(--border-accent);
	background-color: var(--menu-bg-accent2);
	font-size: 100%;
	outline: none;
}

#btn-clear-active-filter:hover { background-color: var(--btn-hover-accent); }
#btn-clear-active-filter:active { background-color: var(--btn-active-accent); }

#highlightBox {
	background-color: var(--input-bg-accent);
	color: var(--font-white-1);
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-accent);
	font-family: "Montserrat", "Arial", sans-serif;
	margin-left: 0.25em;
	width: 200px;
	min-width: 200px;
	font-size: 125%;
}
#phraseBox {
	background-color: var(--input-bg-accent);
	color: var(--font-white-1);
	font-weight: 500;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-accent);
	font-family: "Montserrat", "Arial", sans-serif;
	width: 500px;
	min-width: 500px;
	font-size: 125%;
}
#phraseBox:focus, #highlightBox:focus {
	outline: none !important;
	border:1px solid var(--focus-outline);
}

/*                History Table               */
/* ########################################## */

.HistoryTable tr, .HistoryTable td {
	border-bottom: 1px solid var(--border-dark-accent);
	border-left: 1px solid var(--border-dark-accent);
}
.cH { /* cipher header bar, history table */
	background: -webkit-linear-gradient(0deg, var(--hist-header-gradient), transparent); /*20,23,27*/
	background: -moz-linear-gradient(0deg, var(--hist-header-gradient), transparent);
	background: -o-linear-gradient(0deg, var(--hist-header-gradient), transparent);
	background: linear-gradient(0deg, var(--hist-header-gradient), transparent);
}
.HistoryTable {
	text-align: center;
	border-spacing: 0px;
	border-top: 1px solid var(--border-dark-accent);
	border-right: 1px solid var(--border-dark-accent);
	margin: 0.5em 1em 2.5em 1em;
}
.HistoryTable tr:nth-child(odd) {
	background-color: var(--table-row-odd);
}
.HistoryTable tr:nth-child(even) {
	background-color: var(--table-row-even);
}
.hC { /* history table header, cipher name cell */
	min-width: 80px;
	max-width: 80px;
	font-size: 85%;
	padding: 5px 3px 5px 3px;
	text-align: center;
	font-weight: 500;
	word-break: break-word; /* affects table performance */
}
.hCV { /* vertical history table header, cipher name cell */
	font-size: 86%;
	height: 180px;
	text-align: center;
	vertical-align: bottom;
	font-weight: 500;
}
.hCV2 {
	transform: rotate(-90deg);
	transform-origin: left;
	white-space: nowrap;
	display: inline-block;
	width: 20px;
	margin-left: 1.6em;
}
.hP { /* history phrase */
	text-align: right;
	white-space: nowrap; /* affects table performance */
	padding: 0em 0.5em 0em 0.5em;
	font-size: 110%;
}
.mP { /* history table - top left cell */
	font-weight: 500;
	font-size: 125%;
}
.gV { /* gematria value in history table */
	font-size: 125%;
	font-weight: 500;
	cursor: pointer;
}

/* -------------- Highlighting -------------- */
.highlightCipherTable{
	background: rgba(192,192,192,0.15);
}
.hideValue {display: none;}
@keyframes blink {
	0% {
		opacity: 0.0;
	}
	25% {
		opacity: 1.0;
	}
	75% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}
.highlightValueBlink{
	animation: blink 500ms linear infinite;
	z-index: 99;
}

/*                Options Menu                */
/* ########################################## */

.intBtn { /* Big Buttons */
	display: inline-block;
	color: var(--font-white-1);
	color: var(--font-white-2);
	padding: 0.5em 0.75em 0.5em 0.75em;
	border: 1px solid var(--border-accent);
	width: 100%;
	font-size: 100%;
	font-weight: 500;
	font-family: "Montserrat", "Arial", sans-serif;
	outline: none;
	background-color: var(--btn-bg-accent);
	background-color: transparent;
}
.intBtn2 { /* Cipher Categories */
	display: inline-block;
	color: var(--font-white-1);
	color: var(--font-white-2);
	padding: 0.2em 0.75em;
	margin: 0.1em 0em;
	border: 1px solid var(--border-accent);	  
	width: 100%;
	font-size: 100%;
	font-weight: 500;
	font-family: "Montserrat", "Arial", sans-serif;
	outline: none;
	background-color: var(--btn-bg-accent);
	background-color: transparent;
}
.intBtn3 { /* Empty, Default, All */
	display: inline-block;
	color: var(--font-white-1);
	color: var(--font-white-2);
	padding: 0.2em 0.75em;
	margin: 0em 0.1em 0.5em 0.1em;
	border: 1px solid var(--border-accent);
	width: 85px;
	font-size: 100%;
	font-weight: 500;
	font-family: "Montserrat", "Arial", sans-serif;
	outline: none;
	background-color: var(--btn-bg-accent);
	background-color: transparent;
}
.intBtn:hover, .intBtn2:hover, .intBtn3:hover {
	background-color: var(--btn-hover-accent);
}
.intBtn:active, .intBtn2:active, .intBtn3:active {
	background-color: var(--btn-active-accent);
}

.dropbtn {
	background-color: transparent;
	color: var(--font-white-1);
	color: var(--font-white-2);
	padding: 0.4em 1.1em;
	border: none;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 100%;
	font-weight: 500;
	outline: none;
}
#phrLimitBox, #numCalcBox {
	width: 100%;
	border: none;
	border-top: 1px solid var(--border-accent);
	color: var(--font-white-2);
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 85%;
	outline: none;
	background-color: var(--btn-bg-accent);
	font-weight: 500;
}
.optionElement {
	margin: 0.4em 1em;
	white-space: nowrap; /* text on one line */
}
.optionElementDropdown {
	margin: 1em;
	border: 1px solid var(--border-accent);
	text-align: center;
	color: var(--font-white-2);
	background-color: var(--btn-bg-accent);
	font-weight: 500;
}
.optionElementLabel {
	margin: 0em 0.4em 0em 0.3em;
	color: var(--font-white-2);
	font-weight: 500;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content, .dropdown-content-opt {
	display: none;
	position: absolute;
	left: -1px;
	z-index: 200; /* above other elements */
	padding: 1em;
	text-align: left;
	background-color: var(--menu-bg-accent2);
	border: 1px solid var(--body-bg-accent);
	border-top: none;
}
.dropdown-content-opt {
	padding: 0.5em;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content-opt {display: block;}

.dropdown:hover .dropbtn {background-color: var(--btn-active-accent);}

/*              Number Properties             */
/* ########################################## */

.numProp {
	cursor:pointer;
}
.numPropTooltip {
	max-width: 350px;
	width: max-content;
	margin: 1em;
	padding: 1em;
	background-color: var(--menu-bg-accent);
	position: absolute;
	z-index: 101;
	font-family: "Montserrat", "Arial", sans-serif;
}
.numPropTable {
	text-align: center;
}
.numPropLabel {
	color: var(--font-white-1);
	font-size: 115%;
	font-weight: 500;
}
.numPropCenter {
	text-align: center;
}
.numPropSeparator {
	background-color: rgb(128,128,128);
	border: none;
	height: 2px;
}
.numPropBaseLabel {
	font-size: 90%;
	text-align: left;
	margin-left: 0.4em;
}
.numPropBaseValue {
	font-size: 110%;
	font-family: "Roboto Mono", sans-serif;
}
.numPropValPad {
	margin-right: 0.4em;
	margin-left: 0.4em;
}
.npSmall {
	font-size: 70%;
	font-weight: 500;
	color: rgb(128,128,128);
}
.npLine {
	line-height: 0.9em;
}

/*              Edit Ciphers Menu             */
/* ########################################## */

.editCiphersContainer {
	margin: 0.5em 0em 0.5em 0em;
	padding: 1em;
	background: var(--menu-bg-accent);
	width: -webkit-fit-content;
	width: -moz-fit-content;
}
.custCipherMainTable {
	margin: 0.5em 0em 0.5em 0em;
	width: 570px;
}
.custCipherTable {
	margin: 0.75em 0em 0.75em 0em;
}
#custCipherNameInput, #custCipherCatInput {
	background: var(--btn-bg-accent);
	border: 1px solid var(--border-accent);
	font-size: 125%;
	color: var(--font-white-2);
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 500;
	text-align: center;
	width: 100%;
	border: none;
}
#custCipherAlphabet, #custCipherGlobVals {
	background: var(--btn-bg-accent);
	border: 1px solid var(--border-accent);
	font-size: 125%;
	color: var(--font-white-2);
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 500;
	width: 500px;
	text-align: center;
	resize: none;
	width: 100%;
	border: none;
}
#custCipherGlobVals {
	font-size: 100%;
	height: 40px;
}
#custCipherAlphabet:focus, #custCipherGlobVals:focus,
#custCipherNameInput:focus, #custCipherCatInput:focus {
	outline: none;
	border: 1px solid var(--focus-outline);
	border: none;
}
#diacrChkbox {
	margin-bottom: 0.7em;
}
.custCharIndTable {
	width: 40px;
	border: 1px solid var(--border-accent);
	border-spacing: 0px;
	border: none;
}
.custCharIndLabel {
	text-align: center;
	border-bottom: 1px solid var(--border-accent);
	background: var(--btn-bg-accent);
	height: 38px;
	border: none;
}
.custCharInd {
	width: 40px;
	text-align: center;
	font-weight: 500;
	font-size: 150%;
	font-family: "Montserrat", "Arial", sans-serif;
	border: none;
	background: transparent;
	color: var(--font-white-2);
}
.custCharIndValue {
	width: 40px;
	text-align: center;
	font-weight: 500;
	font-size: 100%;
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-family: "Montserrat", "Arial", sans-serif;
	border: none;
	background: transparent;
	color: var(--font-white-2);
}

/*              Quick Start Guide             */
/* ########################################## */

#quickGuideOverlay {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.quickGuide {
	background-color: var(--menu-bg-accent2);
	color: var(--font-white-2);
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 100%;
	padding: 1em 2em 1em 2em;
	position: absolute;
	top: 10%;
	left: 30%;
	height: 80%;
	width: 40%;
	overflow: auto;
	z-index: 1000;
}
.qgBold, .qgBold2 {
	font-size: 100%;
	font-weight: 500;
	color: var(--font-white-1);
}
.qgBold2 {
	font-size: 150%;
}
.qgMedium {
	font-size: 125%;
}
.qgNote {
	font-style: italic;
	font-size: 85%;
	color: rgb(128,128,128);
}
.noScroll {
	overflow: hidden;
}