body {
	background: rgb(30,30,30);
	background-attachment: fixed; /* no scroll */
	font-family: Arial, sans-serif;
	color: rgb(222,222,222);
}

@font-face {
    font-family: "matrix-font";
    src: url("../font/matrix-font.woff2") format('woff2');
}

.cipherCategoryActive {
	color: hsl(60 100% 50% / 1);
	display: inline-block; /* change the display type */
	margin: 5px 0; /* apply the needed vertical margins */
}

.cipherCategory {
	display: inline-block; /* change the display type */
	margin: 5px 0; /* apply the needed vertical margins */
}

#CipherChart a:link {color: hsl(187 100% 69% / 1)}
#CipherChart a:visited {color: hsl(187 100% 69% / 1)}
#CipherChart a:hover {color: hsl(180 100% 80% / 1)}
#CipherChart a:active {color: hsl(60 100% 50% / 1)}

.MenuLink a:link {color: hsl(187 100% 69% / 1)}
.MenuLink a:visited {color: hsl(187 100% 69% / 1)}
.MenuLink a:hover {color: hsl(180 100% 80% / 1)}
.MenuLink a:active {color: hsl(60 100% 50% / 1)}

.dragOver {
	border: 2px solid hsl(187 100% 69% / 1) !important;
}

#btn-clear-active-filter {
	left: 5px;
    bottom: 2px;
    position: relative;
	color: rgb(222,222,222);
	height: 25px;
	background-color: rgb(16,16,16);
	font-weight: bold;
}
/* ---------------- cipher table ------------------ */

#Gematria_Table {
	padding-top: 5px;
}

#GemTable {
	background-color: rgba(16,16,16,0.5);
	border: 2px solid;
	border-color: rgb(77,77,77);
	border-radius: 20px;
	padding: 5px;
}
#GemTable td {
	min-width: 125px;
	max-width: 125px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
#GemTable2 {
	background-color: rgb(16,16,16);
	border: 2px solid;
	border-color: rgb(77,77,77);
	padding: 5px;
}
#GemTable2 td {
	min-width: 50px;
	max-width: 125px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}

/* ---------------- text selection ---------------- */
::selection {
  color: rgb(16,16,16);
  background: rgb(222,222,222);
}

/* ---------------- scrollbar style --------------- */

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner
{
	background: rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------ */

#Highlight {
	background-color: rgb(16,16,16);
	color: rgb(222,222,222);
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: rgb(77,77,77);
}
#Highlight:focus{
	outline: none !important;
	border:2px solid rgb(192,192,192);
}

#SearchField {
	background-color: rgb(16,16,16);
	color: rgb(222,222,222);
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: rgb(77,77,77);
}
#SearchField:focus {
	outline: none !important;
	border:2px solid rgb(192,192,192);
}

.highlightValueBlink{
	animation: blink 500ms linear infinite;
}

.highlightCipherTable{
	background: rgba(192,192,192);
	color: rgb(16,16,16) !important;
}

@keyframes blink {
	0% {
		opacity: 0.0;
	}
	25% {
		opacity: 1.0;
	}
	75% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

#MenuSpot {
	display: inline;
}
#MainTable {
	display: inline;
}

#canv {
	margin: 0;
	padding: 0;
	position: fixed;
	touch-action: none;
	width: 100%;
	height: 100%;
	/* for borders */
	/* width: calc(100% - 2px); */
	/* height: calc(100% - 2px); */
	/* border: 1px dashed; */
	top:0;
	left:0;
	z-index : -1; /* behind all elements */
}
		
.MenuLink {
	padding-top: 10px;
	padding-bottom: 2px;
	display: inline;
	font-size: 108%;
	font-weight: bold;
}

.GemHead a {
	color: inherit !important;
	text-decoration: inherit !important;
}
.GemHead {
	padding-top: 8px;
	vertical-align: bottom;
}
.GemHead:hover {
	text-decoration: underline;
}

.GemVal {
	font-size: 200%;
	font-weight: 500;
}

.GemVal a {
	color: inherit !important;
	text-decoration: inherit !important;
}

.GemVal2 {
	font-size: 200%;
	font-weight: 500;
	padding: 12px;
}
.GemVal2 a {
	color: inherit !important;
	text-decoration: inherit !important;
}

#MatchButton {
	font-size: 90%;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: rgb(45,255,45);
	background-color: rgb(0,0,4);
}
.CipherButton {
	font-size: 75%;
	color: rgb(0,200,255);
	width: 100px;
	background-color: rgb(0,0,4);
	font-weight: normal;
}
#ChartTable {
	border-collapse: collapse;
}
#ChartTable td {
	text-align: center;
	border: 1px solid;
	border-color: rgb(77,77,77);
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 12px;
}
#ChartTableThin {
	border-collapse: collapse;
}
#ChartTableThin td {
	text-align: center;
	border: 1px solid;
	border-color: rgb(77,77,77);
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 10px;
}
.ChartChar {
	color: rgb(242,153,96);
	font-size: 140%;
}
.ChartVal {
	font-size: 120%;
	font-weight: 300;
}
#BreakdownSpot {
	min-height: 50px;
	width: 800px;
	text-align: left;
	padding-top: 15px;
}

.BreakTable {
	border-collapse: collapse;
}
.BreakTable td {
	text-align: center;
	border: 1px solid;
	border-color: rgb(20,20,20);
	min-width: 20px;
}
.BreakChar {
	text-align: center;
	font-size: 105%;
	color: rgb(211,237,255);
	background: rgb(30,30,30);
	padding-right: 2px;
	padding-left: 2px;
}
.BreakChar2 {
	text-align: center;
	font-size: 114%;
	color: orange;
	background: rgb(30,30,30);
	padding-right: 2px;
	padding-left: 2px;
}
.CipherEnd {
	font-size: 90%;
	text-align: center;
	background: rgb(21,21,21);
	padding-top: 2px;
	padding-bottom: 2px;
}
.BreakWordSum {
	font-size: 115%;
	background: rgb(25,25,25);
	padding-right: 5px;
	padding-left: 5px;
}
.BreakPhraseSum {
	font-weight: bold;
	background: rgb(21,21,21);
	font-size: 175%;
	padding-left: 10px;
	padding-right: 10px;
}
.BreakVal {
	color: rgb(211,211,211);
	background: rgb(25,25,25);
	font-size: 95%;
	padding-right: 2px;
	padding-left: 2px;
}

.breakPhrase {
	display: inline;
	font-size: 130%;
	color: rgb(222,222,222);
	font-weight: 400;
}
.breakSum {
	display: inline;
	font-size: 150%;
	color: rgb(222,222,222);
	font-weight: 900;
}
.breakCipher {
	display: inline;
	font-size: 110%;
	font-weight: 100;
}
#SimpleBreak {
	padding-bottom: 6px;
}
.LetterCounts {
	padding-bottom: 10px;
	color: rgb(244,244,196);
	font-size: 90%;
}

.HistoryTable tr, .HistoryTable td {
	border: 1px solid rgb(34,34,34);
}
.HistoryTable {
	text-align: center;
	border-spacing: 0px;
	border: 1px solid rgb(77,77,77);
}
.HistoryTable td {
	padding-right: 3px; padding-left: 4px;
}
.HistoryTable tr:nth-child(even) {
	background-color: rgba(25,25,25,1);
}
.HistoryTable tr:nth-child(odd) {
	background-color: rgba(19,19,19,1);
}
.historyPhrase {
	text-align: right;
}
.historyHead {
	min-width: 80px;
	max-width: 80px;
	font-size: 85%;
	padding: 5px;
	text-align: center;
}
.CipherHead {
	min-width: 125px;
	max-width: 125px;
	font-size: 85%;
	padding: 5px;
	vertical-align: bottom;
}
.ClassicEQ {
	display: inline;
	color: rgb(223,223,223);
	font-size: 90%;
}
#OptionsTable {
	border: 2px solid rgb(77,77,77);
	border-radius: 10px;
}

#OptionsTable td {
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 4px;
	padding-top: 4px;
}
	
#CipherChart {
	min-width: 500px;
}
#CipherChart td {
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px solid rgb(77,77,77);
	border-radius: 10px;
}

.CategoryList {
	width: 150px;
	font-size: 110%;
}
.CategoryList2 {
	font-size: 110%;
}

.BottomDweller {
	float: top;
	float: right;
	font-weight: bold;
}
#SaveOptions {
	display: inline;
	font-size: 75%;
	color: rgb(255,255,148);
	width: 115px;
	background-color: rgb(0,0,8);
	float: left;
}
#SaveMsg {
	display: inline;
	font-size: 75%;
	color: rgb(255,255,148);
	float: left;
}
.CipherButton {
	display: inline-block;
	font-size: 75%;
	color: rgb(222,222,222);
	width: 115px;
	background-color: rgb(16,16,16);
}
#btn-print-cipher-png, #btn-print-history-png, #btn-save-history-png, #btn-print-word-break-png {
	display: inline-block;
	color: rgb(222,222,222);
	width: 150px;
	background-color: rgb(16,16,16);
}
.ButtonSection {float: right;}
.hideValue {display: none;}